{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/juggling-balls">Back</a>

      <h1 class="heading-large">
        DENIED
      </h1>

      <p>You are not sufficiently competent to receive a juggling licence at this time. Please practice and apply again at a later date, when your skills have sufficiently improved.</p>

      <p>This paragraph has a link to <a href="/url/of/onward/page">find out more about this subject</a>.</p>

    </div>
  </div>
</main>

{% endblock %}
